@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* 기본값으로 지정해두면 rem이 안 먹음! */
  font-size: 16px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
